footer {
  margin-top: 0vmax;
  padding: 2vmax;
  /* background-color: #111827; */
  background-image: linear-gradient(147deg, rgb(35,31,32) 0%, #b4b3af 74%);
  color: white;
  display: flex;
  align-items: center;
}

.leftfooter {
  width: 20%;
  display: flex;

  flex-direction: column;
  align-items: center;
}
.leftfooter > h4 {
  font-family: "Poppins";
  font-size: 1vmax;
  color: #fbbf24;
}

.leftfooter > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vmax;
  font-family: "Poppins";
  color: #fbbf24;
  text-transform: uppercase;
}

.leftfooter > h1 > img {
  width: 300px;
  margin-right: -40px;
}

.leftfooter > p {
  text-align: center;
  font-size: 1.2vmax;
  /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
}
.leftfooter > img {
  width: 10vmax;
  margin: 1vmax;
  cursor: pointer;
}

.midfooter {
  width: 60%;

  text-align: center;
}

.midfooter > h1 > img {
  width: 100px;
  margin-right: 30px;
}
.midfooter > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vmax;
  font-family: "Poppins";
  color: #fbbf24;
}
.midfooter > p {
  max-width: 60%;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  margin: 1vmax auto;
}

.rightfooter {
  width: 25%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.rightfooter > h4 {
  font-family: "Poppins";
  font-size: 1.4vmax;
  /* text-decoration: underline; */
  /* color: #fbbf24; */
  color: #000;
  text-transform: uppercase;
}
.rightfooter > a {
  text-decoration: none;
  font-size: 1.3vmax;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  color: white;
  transition: all 0.5s;
  margin: 0.5vmax;
}

.rightfooter > a:hover {
  color: #fbbf24;
}

/* Social Media Icons
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255,255,255,.6);
}

/* Begin Media Queries*/
/* @media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }  
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  } */
  /* .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  } */
/* } */

/* @media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    
    margin: 0 auto;
  }
 
  
  .name, .email, textarea {
    width: 280px;
  } 
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }  */
  /* .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  } */
  
/* } */
/* 
@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}  */

.fa {
  padding: 30px;
  font-size: 30px;
  width: 85px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #000;
  /* background-image: linear-gradient(147deg, rgb(35,31,32) 0%, #b4b3af 74%); */
  color: white;
}

.fa-twitter {
  background: #000;
  /* background-image: linear-gradient(147deg, rgb(35,31,32) 0%, #b4b3af 74%); */
  color: white;
}

.fa-google {
  background: #000;
  /* background-image: linear-gradient(147deg, rgb(35,31,32) 0%, #b4b3af 74%); */
  color: white;
}

.fa-linkedin {
  background: #000;
  /* background-image: linear-gradient(147deg, rgb(35,31,32) 0%, #b4b3af 74%); */
  color: white;
}

.fa-youtube {
  background: #000;
  /* background-image: linear-gradient(147deg, rgb(35,31,32) 0%, #b4b3af 74%); */
  color: white;
}

.fa-instagram {
  background: #000;
  /* background-image: linear-gradient(147deg, rgb(35,31,32) 0%, #b4b3af 74%); */
  color: white;
}

.black{
  color: #000;
  /* text-transform: uppercase; */
  font-weight: bold;
}